@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

.container {
  width: min(100% - 3rem, 90rem);
  margin-inline: auto;
}
