<header class="header header-wave-container">
    <div class="header__container container">
        <div class="header__row">
            <div class="header__title">Калькулятор</div>
            <ul class="header__menu">
                <li>
                    RU
                </li>
                <li class="header__menu-item">
                    <div>
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox" class="label">
                            <i class='fas fa-sun'></i>
                            <i class="fas fa-moon"></i>
                            <div class='ball'></div>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>